# These things are run when an Openbox X Session is started.
# You may place a similar script in $HOME/.config/openbox/autostart
# to run user-specific things.
#
# You can set picom to use either xrender or glx
# Change if issues
#autorandr horizontal

export PATH=$HOME/.local/bin:$PATH

#$HOME/.config/polybar/launch.sh &

#(am-conky-session --autostart) &

# install xcape - press super to get menu
xcape -e 'Super_L=Super_L|space'

# On laptops without seperate numeric keyboard put hashtag in front
numlockx off &

# GNOME PolicyKit authentication
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Desktop notification
/usr/lib/xfce4/notifyd/xfce4-notifyd &

## Volume control for systray
volumeicon &

## Turn off/on System Beep
xset b on

## Enable power management
xfce4-power-manager &

##Clipboard Manager
xfce4-clipman &

## XFCE4 Settings
#xfsettingsd &

(nm-applet) &

#(plank) &

#discord &

#insync start &

udiskie -t &

# Dual monitor settings
xrandr --output HDMI-0 --mode 1920x1080 --rate 100.0 --pos 2560x0 --rotate right --output DP-0 --off --output DP-1 --off --output DP-2 --primary --mode 2560x1440 --rate 120.0 --pos 0x179 --rotate normal --output DP-3 --off --output DP-4 --off --output DP-5 --off
# xrandr --output HDMI-0 --mode 1920x1080 --rate 100.0 --pos 0x360 --rotate normal --output DP-0 --off --output DP-1 --off --output DP-2 --primary --mode 2560x1440 --rate 120.0 --pos 1920x0 --rotate normal --output DP-3 --off --output DP-4 --off --output DP-5 --off

# Set background image
nitrogen --restore

# Picom
picom -b --config ~/.config/picom.conf &

# Nvidia fan control
nvidia-settings -a '[gpu:0]/GPUFanControlState=1'
nvidia-settings -a '[fan:0]/GPUTargetFanSpeed=30'
nvidia-settings -a '[fan:1]/GPUTargetFanSpeed=30'

# Set cpupower-gui to default profile
cpupower-gui config
