[Desktop Entry]
Icon=text-html
Name=history.html
Type=Link
URL[$e]=http://www.sony.net/SonyInfo/CorporateInfo/History/history.html
X-KDE-LastOpenedWith=chromium
